/* main utilities */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    font-size: 1.2em;
    line-height: 2em;
}

:root {
	--color-header: #2a5ee8;
	--color-primary: #ffffff;
	--color-footer: #23272a;
	--color-button: #7289da;
	--color-section-background: #f6f6f6;
    --color-section-text: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.debug {
    border: 1px solid black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-list-items a:hover, .nav-footer-list-items a:hover {
    text-decoration: underline;
}

/* Bottoni  */
.button {
    border-radius: 30px;
    padding: 10px 15px;
}

.white-background {
    background-color: var(--color-primary);
    color: var(--color-section-text);
}

.dark-background {
    background-color: var(--color-footer);
    color: var(--color-primary);
}
.puprle-background {
    background-color: var(--color-button);
    color: var(--color-primary);
}

/* flex  */

.d-flex {
    display: flex;
}
.reverse {
    flex-direction: row-reverse;
}
.space-between {
justify-content: space-between;
}
.just-center {
    justify-content: center;
}
.align-center {
    align-items: center;
    align-content: center;
}

/* header  */
.header-bar {
    background-color: var(--color-header);
    padding: 20px 0px;
}
.navbar-list-items a {
    color: var(--color-primary);
    padding: 10px 20px;
}

#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 626px;
}

#hero .container {
    min-height: 626px;
}

.hero-content {
    max-width: 70%;
    text-align: center;
}

.hero-content h1, .hero-content p {
    color: var(--color-primary);
    padding-bottom: 10px;
}

.hero-content h1 {
    font-size: 2.5em;
    padding-bottom: 40px;
}

.call-to-action-buttons {
    padding: 10px 0px;
}

.call-to-action-buttons a {
    margin: 0 10px;
}

/* main  */
main section {
    padding: 60px 0;
}
.even-section {
    background-color: var(--color-section-background);
}
section img {
    max-width: 60%;
}
section {
    justify-content: space-evenly;
}
.section-text {
    color: var(--color-section-text);
}

/* footer  */
footer {
    background-color: var(--color-footer);
    padding: 60px 0px;
    color: var(--color-primary);
}
.nav-footer {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-button);
}
.nav-footer-list-items {
    color: var(--color-button);
}
.nav-footer-list-items a {
    color: var(--color-primary)

}

.sign-in-section {
    padding-top: 10px;
}