/* main utilities */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--color-header: #2a5ee8;
	--color-primary: #ffffff;
	--color-footer: #23272a;
	--color-button: #7289da;
	--color-section-background: #f6f6f6;
    --color-section-text: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.debug {
    border: 1px solid black;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

/* header  */
.header-bar {
    background-color: var(--color-header);
}
.navbar-list-items a {
    color: var(--color-primary);
}
#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 626px;
}
.hero-main-elements {
    max-width: 50%
}

/* main  */
main section {
    padding: 60px 0;
}
.even-section {
    background-color: var(--color-section-background);
}
section img {
    max-width: 60%;
}
section {
    justify-content: space-evenly;
}
.section-text {
    color: var(--color-section-text);
}

/* footer  */
footer {
    padding: 60px 0px;
    background-color: var(--color-footer);
    color: var(--color-primary);
}
.nav-footer {
    color: var(--color-button);
}
.nav-footer a {
    color: var(--color-primary)

}